doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        title Peter Strizhev

        link(rel="stylesheet", href="/node_modules/skeleton.css/skeleton.css")
        link(rel="stylesheet", href="/node_modules/normalize.css/normalize.css")
    body
        #react-app
        script(src="/src/app.js")